@import "tailwindcss";

@keyframes fade-scale-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fade-scale-in {
  animation: fade-scale-in 0.7s ease-out forwards;
}
@keyframes slide-up-fade {
  0% {
    transform: translateY(50px);
    opacity: 0.3;
    rotate: 45deg;
    scale: 0%;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
    rotate: -20deg;
    scale:100%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    rotate: 0deg;
    scale:100%;
  }
}
@keyframes slide-right {
    0%{
        transform: translateX(100px);
        opacity:0;
    }
    
    100%{
        transform: translateX(0);
        opacity:1;
    }
    
}

.slide-up-fade {
  animation: slide-up-fade 0.8s ease-out forwards;
}

.slide-right{
  animation: slide-right 0.8s ease-out forwards;
}
.animate-spin-slow {
    animation: spin 6s linear infinite;
  }